**.log

/IdeasAndIdeaTests/
# Personal notes
/notes/
/test_local/
# Modified https://github.com/evanw/source-map-visualization to auto-load fiels from test_local/
/tools/sourcemap-visualiser/

/fuzz_corpus
/crash-*
